html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
  text-align: inherit;
}

figure {
  position: relative;
  display: inline-block;
  background-color: #bbada0;
  border: 10px solid #bbada0;
  border-radius: 3px;
  left: 50%;
  margin-left: -225px;
  overflow: hidden;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  float: left;
  width: 100px;
  height: 100px;
  background-color: rgba(238, 228, 218, 0.35);
  border-radius: 3px;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  font-size: 55px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #f9f6f2;
}

li:last-child {
  margin-right: 0px;
}

ul:last-child li {
  margin-bottom: 0px;
}

.score {
  background-color: #bbada0;
  border-radius: 3px;
  width: 15%;
}

.message {
  position: absolute;
  font-size: 32px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.65);
  padding-top: 30%;
}

.tile-2 {
  background-color: #eee4da;
  color: #776e65;
}

.tile-4 {
  background-color: #ede0c8;
  color: #776e65;
}

.tile-8 {
  background-color: #f2b179;
}

.tile-16 {
  background-color: #f59563;
}

.tile-32 {
  background-color: #f67c5f;
}

.tile-64 {
  background-color: #f65e3b;
}

.tile-128 {
  background-color: #edcf72;
}

.tile-256 {
  background-color: #edcc61;
}

.tile-512 {
  background-color: #edc850;
}

.tile-1024 {
  background-color: #edc53f;
}

.tile-2048 {
  background-color: #edc22e;
}
